body {
  background: url("images/cheap_diagonal_fabric.png");
  font-family: 'Tangerine', serif;
}
h1 {
  text-shadow: 4px 4px 4px #aaa;
  margin: 10px auto;
  font-size: 5em;
  color: #003366;
}
h3 {
  font-family: 'Kalam', cursive;
  text-shadow: 4px 4px 4px #aaa;
  margin: 10px auto;
  font-size: 2em;
  color: #003366;
}
#msg {
  color: white;
  font-size: 2em;
  height: 30px;
  width: max-content;
  margin-top: 50px;
  font-family: 'Kalam', cursive;
}
.btn {
  font-family: 'Kalam', cursive;
  color: #fff;
  background-color: #cc9900;
  margin-top: 20px;
  text-align: center; 
  font-size: 22px;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #444;
}
.btn:hover {
  background-color: #ffbf00;
}
.image {
  display: inline-block;
 }
#displayImages {
  margin-top: 2%;
  background: url("images/ep_naturalwhite.png");
  height: max-content;
  width: max-content;
  height: -moz-fit-content;
  width: -moz-fit-content;
}
input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 1px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;

}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  background-color: teal;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  /*content: "✓";*/
  content:"\2714\0020";
  background-color: grey;
  transform: scale(1);
  z-index: 1;
}

:checked + label img {
  transform: scale(0.8);
  box-shadow: 0 0 5px #333;
  /*z-index: -1;*/
}